<header class="w3-container w3-padding w3-indigo">
  <h1 class="container">{{title}}</h1>
  <button (click)="navigateToPage('about')"
          class="w3-btn w3-margin w3-black w3-round">About</button>
  <a routerLink="/my-todos"
     class="w3-btn w3-margin w3-black w3-round">My Todo List</a>
  <a routerLink="/api-todos"
     class="w3-btn w3-margin w3-black w3-round">Api Todos</a>
  <a routerLink="/"
     class="w3-btn w3-margin w3-black w3-round">Register</a>
</header>
<section>
  <router-outlet></router-outlet>
</section>

